p {
    color: black;
    font-family: helvetica;
    font-size: 16px;
}

body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin:0;
    background-color: #f4f4f4;
  }

.myDiv {
    border: 5px outset DBA901;
    background-color: f4f4f4;    
    text-align: auto;
  =}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

/* Headers */
header{
    background: #f4f4f4;
    color: #000000;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #DBA901 5px solid;
  }
  
  header a{
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float: left;
  }
  
  header #branding h1{
    margin: 0;
  }
  
  header nav{
    float: right;
    margin-top: 10px;
  }
  
  header .highlight, header .current a{
    color: #DBA901;
    font-weight: bold;
  }
  
  header a: hover{
    color: #cccccc;
    font-weight: bold;
  }